@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/*html, body {height:100%; width:100%; margin:0px; padding:0px;}
*/
:root{
    --brown:#c58532;
    --black:#292929;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden; 
    /* property controls what happens to content that is too big to fit into an area.
    The overflow is clipped, and the rest of the content will be invisible */
    /* Hide horizontal scrollbar */
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    /*padding-left: 25em;*/
    
}

section{
    padding:2rem 10%;
    padding-right: 10%
    /* em = rem* 10 */
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--brown);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
}

.main-btn{
    margin-top: 1rem;
    display: flex;
    position: absolute;
    width: 17rem;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    /* right : 10px; */
    
}

.main-btn:hover{
    background: var(--brown);
    letter-spacing: .1rem;
}

.btn{
    margin-top: 1rem;
    display: flex;
    position: absolute;
    width: 17rem;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    right : 10px;
    user-select: none;
    
}

.btn:hover{
    background: var(--brown);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;   /*flex property sets the flexible length on flexible items. */
    align-items: center;
    justify-content: space-between;
    z-index: 900;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--brown);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--brown);
}

header .icons i,
header .icons a,
header .icons button{
    cursor: pointer;
    /* margin-left: .5rem; */
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--brown);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}
.wrapper {
    display: flex;
    justify-content: center;
    /* border: 5px solid #fff; */
    margin-top: 5rem;
    /* top: 0; */
    padding-bottom: 20rem;
}
.home .home-slider .slide{
    display: none;
    align-items: center;
    justify-content: center;
    vertical-align: top;

    flex-wrap: wrap;
    gap: 1.9rem; 
    padding-top: 10rem;
    /* padding-right: 20rem; */
    top: 0px;
    /* border: #292929 solid; */
    /* padding-bottom: 20rem; */
    /* animation: swipe-container 10s ease-in-out infinite; */
}

.home .home-slider .slide .content .btn{
    /* display: flex; */
    right: 60%;
    /* margin-top: 10rem; */
    top: 90%;
}


/*
@keyframes swipe-container {
    0%{
        transform: translateX(0rem);
    }
    15% {
        transform: translateX(0rem);
    }
    30% {
        transform: translateX(-180rem);
    }
    45% {
        transform: translateX(-180rem);
    }
    60% {
        transform: translateX(-360rem);
    }
    75% {
        transform: translateX(-360rem);
    }
    90% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(0rem);
    }
     0%{
        transform: translateX(0rem);
    }
    20% {
        transform: translateX(0rem);
    }
    40% {
        transform: translateX(-180rem);
    }
    60% {
        transform: translateX(-180rem);
    }
    80% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(0rem);
    }
    
}*/
.home .home-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.home .home-slider .slide .content{
    flex:1 166 50rem;
    /* top: 0; */
}

.home .home-slider .slide .image{
    flex:1 166 50rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--brown);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--brown);
}

.dishes{
    padding-bottom: 5rem;
}



/* sizing of the content in our box */
.dishes .box-container{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); */
    gap:2.0rem;
    /* padding-top: 5rem; */
    /* padding-bottom: 5rem; */
    justify-content: center;
    /* vertical-align: auto; */
    /* background-color: #27a123; */
    /* box-shadow: #292929 10px 10px 1px ; */
}

.dishes .box-container .box .dish-img {
    width: 88%;
    height: 55%;
    /* height: auto; */
}

/* creating the white box */
.dishes .box-container .box {
    padding: 2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 50rem;
    width: 40rem;
    /* vertical-align: auto; */
}
/* 
placement & degin of the eye and heart hovering over our image */
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: relative;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--brown);
    color:#fff;
}

.dishes .box-container .box .fa-heart{
    right:-15rem;
}

.dishes .box-container .box .fa-eye{
    left:-15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}

.dishes .box-container .box img{
    height:17rem;
    margin:1rem 0;
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}
.dishes .box-container .box .stars{
    padding:1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--brown);
}

.dishes .box-container .box span{
    color:var(--brown);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--brown);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 2;
    font-weight: 500;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--brown);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}


.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); */
    gap:1.5rem;
    /* padding-top: 5rem; */
    /* padding-bottom: 5rem; */
    justify-content: center;
    /* vertical-align: auto; */
 }

/* .menu .box-container .box .image img {
    width: 50rem;
    height: 35rem;
    
} */

/* creating the white box *//*
.menu .box-container .box{
    padding: 2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 60rem;
    width: 55rem;
    /* vertical-align: auto; 
} */

.menu .box-container .box .image img {
    width: 88%;
    height: 25rem;
}

/* creating the white box */
.menu .box-container .box {
    padding: 2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 50rem;
    width: 40rem;
    /* vertical-align: auto; */
}
.menu .box-container .box .btn {
    bottom: 2.5rem;
}

/* .menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
} */

/* .menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
} */

/* .menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
} */

/* .menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
} */

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:3rem; right: 3rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--brown);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
    height: auto;
}

/* .menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.7rem;
   color:var(--brown);
} */

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--brown);
    /* margin-left: 1rem; */
    font-size: 3rem;
    margin-right: 20rem;
    /* padding-top: 5rem; */
    /* margin-bottom: -5rem; */
    /* background-color: red; */
}


/* .hamburger {
    display: flex;
    flex-direction: row;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
} */

/* .hamburger ,.hamburger:after, .hamburger::before {
    width: 100%;
} */

.backdrop {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 950;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.backdrop.show {
    display: block;
    opacity: 1;

}



.shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    display: block;
    z-index: 1000;
    /* background-color: var(--light-color); */
    background-color: #0000009d;
    /* padding-top: 120px; */
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(110%);
    transition: 0.5s ease-in-out;
}

.shopping-cart.open {
    transform: translateX(0);
}


/* Cart Content */

.cart-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

/* Cart Header */
.cart-header {
    padding: 1rem;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    position: relative;
}

.header-title span {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.cart-header .close-btn {
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}
.cart-header .close-btn:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

/* Cart Logo */
.bxs-cart {
    font-size: 7rem;
    color: #fff;
    /* margin-left: 1rem;
    margin-top: 1rem; */
}

/* Cart Items */

.cart-items {
    flex: 1;
    overflow-x: hidden;

}

 /* cart Item */ 
/* 
 .cart-item{
    width: 240px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.797);
    border-radius: 10px;
    margin-left: 15px;
} */


.cart-item {
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.831);
}

.remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove-item span {
    color: #fff;
    font-size: 20px;
    user-select: none;
    padding-bottom: 2px;
}

.item-img {
    flex: 1;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-details {
    flex: 2;
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 15px;
}

.item-details p {
    color: #c58532;
    font-weight: 800;
    font-size: 20px;
}

.item-details .qty {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-details .qty span {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -px -1px 2px rgba(0, 0, 0, 0.1);
    user-select: none;
    transition: scale 0.2s ease;
    /* Side Bar Video: https://www.youtube.com/watch?v=_nnqP94Tu9g */
}

.item-details .qty span:hover {
    scale: 1.1;
}

.item-details .qty span:active {
    scale: 1;
}

.qty span:first-of-type{
    font-size: 3rem;
    padding-bottom: 2px;
}



.cart-item table {
    align-items: center;
    border:1px;
    padding: 5px;
    text-align: center;
    border-spacing: 15px; 
}


 .cart-item-button{
    width: 30px;
    height: 20px;
    background-color: #5f5f5f;
    border-radius: 15px;
    color: #eee;
 } 

/* .cart-items {
    flex: 1;
    overflow-x: hidden;
} */

/* Cart actions */
.cart-actions {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    flex: 0.3;
    background-color: #ffffffa5;
}

.cart-actions .subtotal {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}
.cart-actions button {
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-transform:  uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.cart-actions button:hover {
    opacity: 0.8;
}

.cart-actions button:nth-of-type(2) {
    background-color: #fff;
    color: #000;
}


.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width:49%;
}

.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--brown);
}

.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}

.order-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.btn2{
    /* margin-top: 1rem;
    display: flex;
    position: absolute; */
    width: 17rem;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    
    /* right : 10px; */
}
.btn2:hover{
    background: var(--brown);
    letter-spacing: .1rem;
}
/* 
.order form .btn2{
    
} */

/* Login Page */
/* 

.logi.heading
    background-color: red;
    border-radius: 1rem;
    width: 100%;
    height: 70vh;
} */

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .login-heading {
    text-align: center;
    color:var(--black);
    font-size: 5rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
    padding-top: 100px;
}
.top .login-heading span{
    color:var(--brown);
}
/* Back button for admin panel */


.back-btn {
    /* background-color: red; */
    width: 15rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 18%;
    top: 18%;
}

.back-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #ff8121ad;
}

.back-btn a:hover {
    background-color: #fff;
    color: #000;
    scale: 1.1;
}



/* Internet Form */
.signup-box {
    padding-top: 2rem;
    width: 80%;
    height: 80%;
    /* background-color: white; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 100%;
    background-color: white;
}

.main .outer {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 80%;
    /* padding-bottom: 5rem; */
    width: 50rem;
    background-color: #ff81214f;
    border-radius: 25px;
    box-shadow: #00000023 0px 0px 10px 0px;
    /* background-color: #fff; */
    overflow: hidden;
}
.main .outer .login-or-signup {
    /* background-color: red; */
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.main .outer .login-or-signup div{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    background-color: #ff8121ad;
    cursor: pointer;
}
.main .outer .login-or-signup div:hover{
    background-color: #fff;
    color: #000;
    scale: 1.1;
}
.main .outer .login-or-signup .login {
    border-top: 3px solid #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid #fff;
}
.main .outer .login-or-signup .signup {
    border-bottom: 3px solid #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* border-bottom: 5px solid #fff; */
}


.outer-box {
    padding-top: 2rem;
    width: 80%;
    height: 80%;
    /* background-color: white; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
    
  .signup-box form {
    width: 100%;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  /* .signup-box form label {
    display: flex;
    margin-top: 10px;
    font-size: 15px;
  } */
  
  .signup-box form input {
    background-color: #ffffff90;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    /* width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none; */
  }

.signup-box form input[type="submit"] {
    /* width: 80%;
    height: 10%;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px; */
    padding-left: 0rem;
    width: 80%;
    height: 5rem;
    border-radius: 25px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2rem;
}
.signup-box form input[type="submit"]:hover {
    background-color: #ffa25ca0;
    color: #fff;
    scale: 1.1;
    transition: 0.2s;
}
.signup-box p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
}
.para-2 {
    padding-top: 2rem;
    text-align: center;
    color: #000;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a {
    color: #1500ff;
}
/*  */

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: white;
}

.forms .outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 5rem;
    width: 50rem;
    background-color: #ff81214f;
    border-radius: 5%;
    box-shadow: #00000023 0px 0px 10px 0px;
    
    overflow: hidden;
}
.forms .outer .head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    gap: 1.5px;
    background-color: #fff;
}
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 50%;
background-color: #ff81214f;
border-radius: 5%;
box-shadow: #00000023 0px 0px 10px 0px;
gap: 1px;
overflow: hidden; */

.forms .outer .head p {
    background-color: #fff;
    width: 100%;
    /* width: 49.25%; */
    height: 4rem;
    border-radius: 5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    /* remove the blue thing from the link */
    color: #000;
    padding: 5rem 0rem;
    
}
/* .forms .outer .btns a:first-child {
    background-color: #ffa25ca0;
    color: #fff;
} */

.forms .outer .btns a:hover {
    background-color: #ffa25ca0;
    color: #fff;
    transition: 0.5s;
}

input {
    text-transform: none;
}


.forms .outer .line {
    width: 0.75%;
    height: 100%;
    background-color: #000;
    border-radius: 30%;
}

.forms .outer .login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.forms .outer .login-form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email-login, .pswd-login {
    width: 70%;
    height: 10%;
    /* background-color: red; */
}

.email-login input, .pswd-login input {
    background-color: #ffffff90;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.btn-login {
    width: 40%;
    height: 10%;
    border-radius: 25px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.btn-login input {
    height: 100%;
    width: 100%;
    user-select: none;
    font-weight: 600;
}
.btn-login input:hover {
    background-color: #ffa25ca0;
    color: #fff;
    transition: 0.5s;
}

/* Checkout page */
.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80%;
    width: 100%;
    background-color: white; */
}

.checkout .outer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 60rem;
    width: 150rem;
    background-color: #ff81214f;
    border-radius: 25px;
    box-shadow: #00000023 0px 0px 10px 0px;
    gap: 2rem;
    padding-bottom: 5%;
    /* overflow: hidden; */
}

/* .checkout .outer .btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    gap: 1.5px;
} */

.checkout .outer .item {
    background-color: #ffffffb7;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20%;
    border-radius: 30px;
}

.checkout .outer .heading-text {
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    text-transform: uppercase;
    /* margin-top: 20px; */
    /* background-color: #fff; */
}

.checkout .outer .items-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background-color: red; */
}

/*! There is no img here */
.checkout-item-img {
    margin-left: 1.5%;
    /* margin-top: 1.5%; */
    border-radius: 25px;
    width: 11%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.checkout-item-img img {
    border-radius: 25px;
    width: 100%;
}


.checkout-item-details {
    padding-top: 4.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    width: 89%;
    justify-content: space-between;
    padding-right: 8rem;
    padding-bottom: 4.5rem;
    /* gap: 40rem; */
    /* background-color: red; */
}

.checkout-item-details p {
    color: #c58532;
    font-weight: 800;
    font-size: 20px;
    /* width: auto; */
    /* background-color: red; */
}

.checkout-item-details .checkout-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* background-color: red; */
}

.checkout-item-details .qty {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 5%;
    /* background-color: blue; */
}

.checkout-item-details .qty span {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -px -1px 2px rgba(0, 0, 0, 0.1);
    user-select: none;
    transition: scale 0.2s ease;
    /* Side Bar Video: https://www.youtube.com/watch?v=_nnqP94Tu9g */
}

.checkout-item-details .qty span:hover {
    background-color: #ffa82e;
    color: #fff;
    scale: 1.1;
}

.checkout-item-details .qty span:active {
    scale: 1;
}

/* .qty span:first-of-type{
    font-size: 3rem;
    padding-bottom: 2px;
} */

.item .remove-item {
    position: relative;
    top: 10px;
    right: -97%;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item .remove-item span {
    color: #fff;
    font-size: 20px;
    user-select: none;
    padding-bottom: 2px;
}

.final {
    width: 100%;
    /* font-size: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    gap: 40%;
}

.final div p {
    color: #c58532;
}

.final .subtotal {
    width: fit-content;
    background-color: #ffffffb7;
    display: flex;
    gap: 9rem;
    padding: 2rem 2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.final .total {
    width: fit-content;
    background-color: #ffffffb7;
    display: flex;
    gap: 15.3rem;
    padding: 2rem 2rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.final .order-btn {
    width: 30rem;
    background-color: #ffffffb7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    transition: scale 0.2s ease;
}

.final .order-btn a {
    width: 30rem;
    background-color: #ffffffb7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    transition: scale 0.2s ease;
    color: #000;
}

.final .order-btn a {
    color: #000;
}

.final .order-btn a:hover {
    background-color: #ffa82e;
    color: #fff;
    scale: 1.1;
}

/* Order Panel */


.order-details {
    /* margin-top: 4rem; */
    /* padding-top: 4.5rem; */
    /* padding-left: 1rem; */
    /* margin-left: 4rem; */
    display: flex;
    flex-direction: column;
    font-size: 17px;
    width: 89%;
    /* gap: 4rem; */
    /* background-color: red; */
}
.order-details .orderID {
    padding-top: 5%;
    /* padding-bottom: 5%; */

}

.order-details .order-item,
.order-details .orderID {
    color: #c58532;
    font-weight: 800;
    font-size: 20px;
    margin-left: 7%;
    /* background-color: #fff; */
}
.order-details .order-item:last-child {
    /* padding-top: 5%; */
    padding-bottom: 5%;
}


.customer-details {
    padding-top: 4.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    width: 50%;
    gap: 40rem;
    /* background-color: yellow; */
}

.completed {
    /* background-color:purple; */
    display: flex;
    width: 50%;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
}

.completed span {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.completed span:hover {
    background-color: #ffa82e;
    color: #fff;
    scale: 1.1;
}

/* Admin Panel */

.choose {
    background-color: rgba(255, 255, 255, 0.594);
    height: 50rem;
    width: 45rem;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--light-color) solid 12px;
}

.choose div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    height: 100%;
}

.choose div a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 25px; */
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    color: #000;
    background-color: #fff;
}
.choose div a:hover {
    background-color: #ff990053;
    color: #fff;
    scale: 1.1;
}




/* Other stuff after admin panel */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .outer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 60rem;
    width: 150rem;
    background-color: #ff81214f;
    border-radius: 25px;
    box-shadow: #00000023 0px 0px 10px 0px;
    gap: 2rem;
    padding-bottom: 5%;
    /* overflow: hidden; */
}

.info .outer .item {
    background-color: #ffffffb7;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20%;
    border-radius: 30px;
    /* padding-left: 5rem; */
    /* gap: 6rem; */
}

.info .outer .heading-text {
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    text-transform: uppercase;
    /* margin-top: 20px; */
    /* background-color: #fff; */
}

.info .outer .item-heading {
    width: 60%;
    margin-right: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10rem;
    font-size: large;
    /* background-color: #fff; */
}

.info .outer .item .emp-details {
    width: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background-color: red; */
}
.info .outer .item .employeeID {
    margin-left: 0rem;
    margin-right: 2rem;
}
.info .outer .item .FirstName {
    margin-right: 4rem;
}
.info .outer .item .LastName {
    margin-right: 3rem;
}
.info .outer .item .jobTitle {
    margin-right: 4rem;
}
.info .outer .item .BirthDate {
    margin-right: 7rem;
}

.info .outer .item .edit {
    /* background-color:purple; */
    display: flex;
    width: 20%;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.info .outer .item .edit span {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    user-select: none;
    background-color: #fff;
    /* margin-right: -12rem; */
    /* padding-right: 5rem; */
}

.info .outer .item .edit span:hover {
    background-color: #ffa82e;
    color: #fff;
    scale: 1.1;
}

.info .outer .item .edit span p {
    font-size: medium;
    font-weight: 800;
}


.info .outer .item .ph_no {
    margin-right: 5rem;

}
.info .outer .item .email {
    text-transform: none;
    display: flex;
    justify-content: start;
    
}

.info .outer .item .itemName {
    /* background-color: red; */
    justify-content: start;
}

.info .outer .item .price {
    /* background-color: blue; */
    justify-content: start;
    padding-left: 4rem;

}

.info .outer .item .description {
    /* background-color: red; */
    width: 50%;
    margin-left: 2rem;
}



.info .outer .employee-box {
    background-color: rgba(255, 255, 255, 0.594);
    height: 50rem;
    width: 45rem;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .outer .employee-box form {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info .outer .employee-box form input::placeholder{
    color: #00000093;
    font-weight: 900;
    padding-left: 2rem;
}
.info .outer .employee-box form input{
    background-color: #ff990053;
    width: 80%;
    height: 10%;   
    padding-left: 2rem;
    color: #000;
    font-weight: 900;
}
.info .outer .employee-box form input:invalid{
    border-style: solid;
    border-color: red;
}

.info .outer .employee-box form input[type ="submit"] {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}
.info .outer .employee-box form input[type ="submit"]:hover {
    background-color: #ffa82e;
    color: #fff;
    scale: 1.1;
}


.info .outer .employee-box form .job-box {
    background-color: #ff990053;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 900;
    color: #00000093;
    gap: 1rem;
    overflow: hidden;
}
.job-box label {
    padding-left: 5rem;
}
.job-box select {
    width: 30rem;
    height: 100%;
    background-color: transparent;
    color: #000;
    font-weight: 900;
    font-size: 15px;
}
/* more editing */
.bday-box {
    background-color: #ff990053;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 900;
    color: #00000093;
}
.bday-box label {
    padding-left: 1rem;
}
.bday-box input {
    width: 50rem;
    height: 100%;
    color: #000;
    font-weight: 900;
    font-size: 15px;
    gap: 5rem;
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box .links{
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    
}

.footer .box-container .box .links span{
    background-color: #fff;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;   
}

.footer .box-container .box .links i{
    font-size: 20px;
    
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box-container .box a{
    display: flex;
    flex-direction: row;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.footer .box-container .box .links span:hover{
    transform: scale(1.1);
}

.footer .box-container .box a:hover{
    color:var(--brown);
}

/* cursor: pointer;
height:4.5rem;
line-height: 4.5rem;
width:4.5rem;
text-align: center;
font-size: 1.7rem;
color:var(--black);
border-radius: 50%;
background: #eee; */

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--brown);
}

.footer .box .inline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 3rem;
    /* background-color: red; */
    margin-right: -7rem;
}
.footer .box .horizontal {
    display: flex;
    flex-direction: column;
}

.footer .follow {
    margin-left: 5rem;
}


@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}
@media (min-width:450px){

    html{
        font-size: 50%;
       
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}

